.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.workHours {
  display: flex;
  flex-direction: column;
}

.weekdayListItem {
  display: flex;
}

.label {
  min-width: 200px;
}